{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block body %}
<h1>Hello SessionController! vous avez visitez le site {{app.session.get('nbrVisite')}} fois</h1>
{% endblock %}
